<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Menu List</title>
</head>
<body>
	<div th:fragment="menu">
		<div sec:authorize="hasRole('DASHBOARD_USER') or hasRole('DEV')">
			<ul class="sidebar-nav">
	            <li >
	                <a href="dashboard" data-no-pjax="data-no-pjax">
	                    <span class="icon">
	                        <i class="glyphicon glyphicon-stats"></i>
	                    </span>
	                    Dashboard                
	                </a>
	            </li>    
	        </ul>
		</div>
        
        <h5 class="sidebar-nav-title">Tools</h5>
        <ul class="sidebar-nav">
        	<div sec:authorize="hasRole('MAP_USER') OR hasRole('DEV')" th:remove="tag">
            <li>
                <a href="#geo_kpi_parent" class="collapsed" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="glyphicon glyphicon-map-marker"></i>
                    </span>
                    Map Check  <i class="toggle fa fa-angle-down"></i>
                </a>
                     <ul id="geo_kpi_parent" class="collapse">
                             <li> <a th:href="@{/customer-complaint}" data-no-pjax="data-no-pjax">Customer Complain</a> </li>
                             <li> <a th:href="@{/vip-group}" data-no-pjax="data-no-pjax">VIP Site</a> </li>
                             <li> <a th:href="@{/jalur-lebaran}" data-no-pjax="data-no-pjax">Jalur Lebaran</a> </li>
                     </ul>
           </li>
           </div>
           <div sec:authorize="hasRole('MASSCHECK_USER') or hasRole('DEV')" th:remove="tag">
           <li>
                <a th:href="@{/masscheck}" data-no-pjax="data-no-pjax">
                    <span class="icon">
                        <i class="fa fa-search"></i>
                    </span>
                    Mass Check     </a>
           </li>
           </div>
           <div sec:authorize="hasRole('ACTIVEALARM_USER') or hasRole('DEV')" th:remove="tag">
           <li>
                <a th:href="@{/active-alarm}" data-no-pjax="data-no-pjax">
                    <span class="icon">
                        <i class="fa fa-warning"></i>
                    </span>
                    Active Alarm </a>
           </li>
           </div>
           <div sec:authorize="hasRole('PATHFINDER_USER') or hasRole('DEV')" th:remove="tag">
           <li>
                <a href="#trans_path" class="collapsed" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-share-alt"></i>
                    </span>
                    Path Finder                                        <i class="toggle fa fa-angle-down"></i>
                                    </a>
                <ul id="trans_path" class="collapse">
                        <li > <a th:href="@{/path}" data-no-pjax="data-no-pjax">Dictionary</a> </li>
                </ul>
           </li>
           </div>    
        </ul>   
        
        <div sec:authorize="hasRole('ADMIN') or hasRole('DEV')" th:remove="tag">
        <h5 class="sidebar-nav-title">Administration</h5>
        <ul class="sidebar-nav">
             <li>
	              <a href="#master_data" class="collapsed" data-toggle="collapse" data-parent="#sidebar">
	                  <span class="icon">
	                      <i class="fa fa-database"></i>
	                  </span>
	                  Alert <i class="toggle fa fa-angle-down"></i>
                  </a>
              <ul id="master_data" class="collapse">
                      <li > <a th:href="@{alert?name=dailynav}">Daily NAV</a> </li>
                      <li > <a th:href="@{alert?name=dailynav}">Hourly NAV</a> </li>
                      <li > <a th:href="@{alert?name=dailynav}">VIP Alert</a> </li>
               </ul>
             </li>
             <li>
                <a href="#app_parent" class="collapsed" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-wrench"></i>
                    </span>
                    Access Control  <i class="toggle fa fa-angle-down"></i>
                 </a>
                  <ul id="app_parent" class="collapse">
                          <li > <a th:href="@{sec?user}">Users</a> </li>
                          <li > <a th:href="@{sec@role}">Role</a> </li>
                  </ul>
             </li>                 
        </ul>  
        </div>   
	</div>
</body>
</html>