.loading{
    height: content-box;
    position: absolute;
    top : 45%;
    left: 45%;
    z-index: 999;
    padding: 5px;
    display: none;
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear;
}

@keyframes bounceIn { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
}



@-webkit-keyframes bounceOut { 
    0% { 
        -webkit-transform: scale(1); 
    } 
    25% { 
        -webkit-transform: scale(.95); 
    } 
    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.1); 
    } 
    100% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 
} 
@keyframes bounceOut { 
    0% { 
        transform: scale(1); 
    } 
    25% { 
        transform: scale(.95); 
    } 
    50% { 
        opacity: 1; 
        transform: scale(1.1); 
    } 
    100% { 
        opacity: 0; 
        transform: scale(.3); 
    } 
} 

.alarm{
    font-size: 10px;   
}
.alarm_header{
    font-size: 12px;
}
.pagination{
    font-size: 0.8em;
}
#nearby_table_info{
    font-size: 0.8em;
}
#nearby_table_filter , #nearby_table_length{
    font-size: 0.8em;
}

.fleft{
    position: absolute;
    top: 50px;
    left: 10px;
}

.search_result{
    width: 250px;
    border: 1px solid #2c3e50;
    padding: 0px;
    position: absolute;
    top: 50px;
    left: 235px;
    z-index: 10;
    background-color: #34495e;
    display: none;
    -webkit-box-shadow: 0px 14px 69px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 69px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 69px -11px rgba(0,0,0,0.75);
}

.search_result > strong {
    padding-left: 5px;
    color: #f3f6f6;
}

.search_result ul{
    list-style: none;
    list-style-position: inside;
    padding-left: 0px;
}

.search_result ul li{
    margin-top : 0px;
    border-top: 1px solid #95a5a6;
    padding: 5px;
    font-size: 0.9em;
}

.search_result ul li a{
    text-transform: none;
    font-style: normal;
    color: #f3f6f6;
    font-weight: 400;
}

.search_result ul li a:hover{
    text-decoration: none;
    color: #2ecc71;
}

.summary{
    background: #fff;
    opacity: 0.9;
    width: 200px;
    position: relative;
    top: -10px;
    left: -10px;
    padding: 10px;
}
.summary > table > td {
    padding: 10px;
}


.huawei_logo{
    opacity: 0.7;
    position: absolute;
    bottom: 30px;
    left: 20px;
    padding: 10px;
}


/* ------- LEAFLET CUSTOM POPUP ---------- */

/* css to customize Leaflet default styles  */
.geol-popup .leaflet-popup-tip,
.geol-popup .leaflet-popup-content-wrapper {
    background: #ffffff;
    color: #000;
}



/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    .huawei_logo  {width:361px;height:340px }

}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .huawei_logo  {width:361px;height:340px }
}

@media screen and (min-width: 768px) {
    .huawei_logo  {width:100px;height:95px }
} 

#google_map_container{
    z-index: 1000;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-transition: margin 0.2s;
     -moz-transition: margin 0.2s;
       -o-transition: margin 0.2s;
          transition: margin 0.2s;
}